<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.build.managed.framework.buildEngine">
      <engine
            class="org.eclipse.cdt.build.managed.ninja.NinjaBuildEngine"
            id="org.eclipse.cdt.build.managed.ninja.ninjaBuildEngine"
            name="Ninja"
            supportsSingleFileBuild="true">
      </engine>
   </extension>

</plugin>
